.BuilderSide {
    .MainController {
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 2px;
        }
    }
}